<main class='p-2'>
  <div class='row'>


    {{#with newsBlock}}
    <div class="col-12 my-5">
      <h1 class="text-center">{{title}}</h1>

      <div class="row my-3">
        {{#each cards}}
        <div class="col-3 mb-3">
          {{> shoppost title=title description=description isTop=isTop idNew=isNew}}

        </div>
        {{/each}}
      </div>
    </div>
    {{/with}}

    {{#with goodsBlock}}
    <div class='col-12 my-5'>
      <div class='nav nav-tabs'>
        {{#each tabs}}
        <div class='nav-item'>
          <a href='#'
            class='nav-link {{#if isActive}}active fw-semibold{{/if}} {{#if isDisabled}}disabled{{/if}}'>{{text}}</a>
        </div>
        {{/each}}
      </div>
    </div>

    <div class='col-12 my-3'>
      <div class="row">
        {{#each cards}}
        <div class="col-4 mb-3">

          {{> shopcard image=image title=title description=description isHot=isHot idNew=isNew}}

        </div>
        {{/each}}
      </div>
    </div>
    {{/with}}

    {{#with subscribe}}
    <div class='col-12 my-5 text-bg-dark'>
      <div class="row">
        <h2 class="col-12 py-2">{{header}}</h2>
        <p>{{description}}</p>

        <div class="col-12">
          {{#each buttons}}
          <div class='mb-3'>
            <a href='{{link}}' class='btn btn-primary '>{{text}}</a>
          </div>
          {{/each}}
        </div>
      </div>

    </div>
    {{/with}}


    {{#with service}}
    <div class='col-12 my-5 text-bg-success text-center'>

      {{> shopaction title=title description=description buttons=buttons}}

    </div>
    {{/with}}

  </div>

</main>