<main class='p-4>
  <div class=' row g-5 '>
    {{#with formBlock}}
      <div class=' col-12 my-5 '>
        <div class="row">
          <div class="col-8">
            <h1>{{header}}</h1>
            <p>{{rating.title}}: {{rating.value}}</p>            
            {{#with actionBlock}}
                <div class=' nav nav-tabs mb-4 col-12'>
                  {{#each tabs}}
                    <div class='nav-item col-4 text-center'>
                      <a href='#' class='nav-link {{#if isActive}}active fw-semibold{{/if}}'>{{text}}</a>
                    </div>
                  {{/each}}
                </div>
                <hr class="my-5">
                {{#with report}}
                  <div class='card'>
                    <div class='card-body'>
                      <p>{{title}}</p>
                      <a href="{{button.link}}" class='btn btn-secondary'>{{button.text}}</a>
                    </div>
                  </div>
                {{/with}}
            {{/with}}

            <hr class="my-5">

            {{#with feedbackBlock}}
              <div class='col-12'>
                <h2 class="mb-5">{{title}}</h2>
                  {{#each buttons}}
                      <a href="{{link}}" class='btn {{#if isWarning}}btn-warning text-light{{/if}} {{#if isSuccess}}btn-success{{/if}} {{#if isDanger}}btn-danger{{/if}} me-2'>{{text}}</a>
                  {{/each}}
              </div>
            {{/with}}
          </div>
          {{#with goodsInfo}}
            <div class="col-4">
              <div class='card p-3'>
                <img class='card-img-top' src='{{photo}}' alt='{{name}}' />
                <div class='card-body mb-0'>
                  <h6 class="mb-0">{{name}}</h6>
                </div>
              </div>

              <div class='card px-3 my-2'>

                <div class='card-body mb-0'>
                  <h5 class="card-title mb-0">{{price}}</h5>
                  <p>
                    {{#if inMarket}}Є в наявності{{else}}Немає в наявності{{/if}}
                  </p>
                    {{#each buttons}}
                      <div class="{{#unless @last}}mb-2{{/unless}}">
                        <a href="{{link}}" class='btn {{#if isPrimary}}btn-primary{{/if}} {{#if isSecondary}}btn-secondary{{/if}}'>{{text}}</a>
                      </div>
                    {{/each}}
                </div>
              </div>

              <div class='card px-3'>

                <div class='card-body mb-0'>
                  <p class="m-0">{{seller.title}}: <b>{{seller.value}}</b></p>
                </div>
              </div>
            </div>
          {{/with}}
        </div>
      </div>
    {{/with}}

    <hr class="my-5">

    <div class='col-12 my-5'>
      {{#each reviewList}}

        {{> reviewItem title=title reviewBody=reviewBody}}

      {{/each}}
    </div>

    {{#with service}}
      <div class='col-12 my-5 text-bg-success text-center'>

        {{> shopaction title=title description=description buttons=buttons}}

      </div>
    {{/with}}

    <hr>
  </div>

</main>