<div class='card'>
    <img class='card-img-top' src='{{img}}' alt='{{name}}' />
    <div class='card-body'>
        <div>
            {{#if isHot}}
            <span class='badge text-bg-warning text-light rounded-pill fw-normal text-uppercase'>Hot!</span>
            {{/if}}
            {{#if isNew}}
            <span class='badge text-bg-primary text-light rounded-pill fw-normal'>New</span>
            {{/if}}
        </div>
        {{#if isFast}}
        <div class="my-3">
            <button class="btn btn-success">Швидка доставка</button>
        </div>
        {{/if}}
        {{#if isFree}}
        <div class="my-3">
            <button class="btn btn-secondary">Безкоштовна доставка</button>
        </div>
        {{/if}}

        <h5 class='card-title'>{{name}}</h5>
        <p>{{review.amount}} {{review.text}}</p>
        <p class="fs-3 fw-bold">{{price}}</p>
        <p>{{delivery}}</p>
        {{#each buttons}}
        <div class="my-3">
            <a href="{{link}}"
                class='btn {{#if isPrimary}}btn-primary text-light{{/if}} {{#if isSecondary}}btn-secondary{{/if}} me-2 '>{{text}}</a>
        </div>
        {{/each}}
        <ul>
            {{#each characteristics}}
            <li>{{title}}: {{value}}</li>
            {{/each}}
        </ul>

    </div>
</div>